.shou{
    position: absolute;
    left: 60%;
    top: 20%;
    width: 400px;
    height: 500px;
}

.denglu{
font-size: 20px;
margin:0px 38px;
}

.kuang  input[type = "text"],.kuang input[type = "password"]{
    margin:20px auto;
    border: 2px solid #ddd;
    padding: 10px;
    width: 250px;
    height: 35px;
    border-radius: 20px;
    font-size: 14px;
}

.tupian{
    position: absolute;
    left: 30%;
    top: 28%;
}

#beizhu{
    font-size: 15px;
    line-height: 30px;
    margin: 5px 54px;
}

.button{
    background-color: #12ebd9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 5px 18px;
}

.png{
    margin: 1% 35px;
}