body{
    margin: 0;
    padding: 0;
    background:#34495e;
    font-family: sans-serif;
}
.denglu{
    width: 300px;
    pad: 40px;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    background: #9c8c8c;
    text-align: center;
}

.denglu input[type = "text"],.denglu input[type = "password"]{   
    border: 0;
    background: none;
    display: block;
    margin:20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 15px 20px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 25px;}
.tupian{
    position: absolute;
    top: 30%;
    right: 50%;
}